

/* === general ==== */
:root {
    /* color's */
    --font-color: white;
    --bg-color: #262626;
    --border-color: white;
    
    --unknown-bg-color: #d5d5d5;
    --unknown-font-color: black;
    --right-letter-bg-color: yellow;
    --right-letter-font-color: black;
    --right-position--bg-color: blue;
    --right-position-font-color: white;
    --not-included-bg-color: #262626;
    --not-included-font-color: white;
    
    --hover-bg-color: #d5d5d588;
    --hover-border-color: red;

    /* size's */
    --default-gap: 6px;
    --default-border-radius: 3px;
}

body {
    padding: 0;
    border: 0;
    margin: 0;

    font-family: monospace sans-serif;
}

#wrapper {
    /* min-height: 100vh; */
    height: 100vh;

    box-sizing: border-box;
    padding: var(--default-gap);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: var(--default-gap);
    grid-row-gap: var(--default-gap);
    
    background-color: var(--bg-color);
    color: var(--font-color);
}
#field { grid-area: 1 / 1 / 2 / 2; }
#input { grid-area: 2 / 1 / 3 / 2; }
#suggestions { grid-area: 1 / 2 / 3 / 3; }

.border {
    border: 1px solid var(--border-color);
    border-radius: var(--default-border-radius);
}

.selected {
    border-color: var(--hover-border-color) !important;
}

.hover:hover {
    cursor: pointer;
    background-color: var(--hover-bg-color);

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/* --- tmp headline --- */
.headline {
    position: relative;
}
.headline::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 0;
    transform: translateX(-50%);
    
    color: var(--font-color);
}


/* === field === */
#field.headline::before {
    content: 'field';
}

#field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#field .word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#field .word .letter {
    padding: var(--default-gap);
    border: 1px solid var(--border-color);
    border-radius: var(--default-border-radius);
    margin: calc(var(--default-gap) / 2);
}


/* === input === */
#input.headline::before {
    content: 'input';
}

#input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#input .letter {
    padding: var(--default-gap);
    border: 1px solid var(--border-color);
    border-radius: var(--default-border-radius);
    margin: calc(var(--default-gap) / 2);
}

#input .letter.unknown {
    background-color: var(--unknown-bg-color);
    color: var(--unknown-font-color);
}
#input .letter.right-letter {
    background-color: var(--right-letter-bg-color);
    color: var(--right-letter-font-color);
}
#input .letter.right-position {
    background-color: var(--right-position--bg-color);
    color: var(--right-position-font-color);
}

.cross_out {
    position: relative;
}
.cross_out::before {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0;
    transform: rotateZ(45deg);

    height: 2px;
    --calc: calc(2 * (1.5 * 1.5));
    width: calc( sqrt(var(--calc)) * 1rem );

    
    content: '';
    background-color: red;
}
.cross_out::after {
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 100%;
    transform: rotateZ(315deg);

    height: 2px;
    --calc: calc(2 * (1.5 * 1.5));
    width: calc( sqrt(var(--calc)) * 1rem );
    
    content: '';
    background-color: red;
}


/* === suggestions === */
#suggestions.headline::before {
    content: 'suggestions';
}

#suggestions {
    overflow-y: scroll;
}

#suggestions .word {
    padding: calc(var(--default-gap) / 2) 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px;
    border-left: 0;
    border-style: solid;
    border-color: var(--border-color);
    margin: calc(var(--default-gap) / 2) 0;

    text-align: center;
}